# Virtual Environment
venv/
env/
ENV/
myenv/
.venv/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.env
gif-maker/gifs/*.gif
*.gif
